@import "tailwindcss";

:root{
  --bg:#f3f4f6;
  --card:#fff;
  --accent:#2563eb;
  --muted:#6b7280;
}

html,body,#root{
  height:100%;
}
body.dark{
  background-color: black;
}

/* body{
  margin:0;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, Arial;
  background:var(--bg);
  display:flex;
  justify-content:center;
  padding:28px;
} */
.container {
  max-width: 1260px;
  width: 100%;
  background: var(--card);
  padding: 20px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 6px 18px rgba(2, 6, 23, 0.06);
}

h1 {
  margin: 0 0 14px 0;
  font-size: 22px;
}

.add-form {
  display: flex;
  gap: 8px;
  margin-bottom: 12px;
}
.input,
.edit-input {
  flex: 1;
  padding: 8px 10px;
  border-radius: 8px;
  border: 1px solid #e6e7eb;
}
.btn {
  padding: 8px 12px;
  border-radius: 8px;
  border: 0;
  cursor: pointer;
  /* background: var(--accent); */
  color: #fff;
  transition: all .5s;
}
.btn.small {
  padding: 6px 8px;
  font-size: 13px;
}
.btn.small::before{
  content: '';
  border: 2px solid #fff;
  border-radius: 6px;
  padding: 6px 6px;
  margin-right: 5px;
}
.btn.danger {
  background: #ef4444;
}

.todo-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.todo-item {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #eef2ff;
  background: linear-gradient(#fff, #fbfdff);
}
.todo-item.completed .text {
  text-decoration: line-through;
  color: var(--muted);
}
.text {
  flex: 1;
  cursor: pointer;
}
.actions {
  display: flex;
  gap: 8px;
}
.footer {
  margin-top: 12px;
  color: var(--muted);
  font-size: 14px;
}
.empty {
  color: var(--muted);
}

